/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;

}
.home {
  background-color: whitesmoke;
  width: 100%;
}
.home__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/logos/background.svg');
  background-position: center;
  background-size: cover;
  margin: auto;
  height: 500px;

}
.home__mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.button__home {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.home__mainButton {
  background-color: black !important;
  color: #58b4e2 !important;
  z-index: 1;
  border: 1px solid #58b4e2 !important;
  text-transform: none !important;
  font-size: 20px !important;
  font-family: 'syne Mono' !important;
  font-weight: bold !important;
  margin-top: 10px !important;
  display: flex !important;
  margin-left: 20px !important;
  justify-content: flex-start !important;
  

}
.home__mainButton:hover {
  background: #58b4e2 !important;
  color: black !important;
  border: 1px solid black !important;
}
.home__content {
  width: 100%;
}
.home__cards {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: left;
width: 100%;
margin: auto;
}

.home__profile {
  height: 300px;
  width: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
  background-color: black;

}
@media screen and (max-width:900px) {
  .home__profile {
    height: 200px;
  width: auto;

  }
  .home__mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height:220px;
    margin: 10px;
    justify-content: center;
  }
  .home__mainButton {
    font-size: 18px !important;
  }
}
@media screen and (max-width:600px) {
  .home__profile {
    height: 180px;
    margin-top: 20px;
  }
  .home__mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 10px;
    
    
  }
  .home__mainButton {
    font-size: 16px !important;
    
  }
}
