/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
}
.home__content {
display: flex;
flex-wrap: wrap;
align-items: center;
  justify-content: center;
}

.home__profile {
  height: 300px;
  width: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
  background-color: black;
  margin-right: 80px;
   /* Adjust margin for better spacing */
}
@media screen and (max-width:900px) {
  .home__profile {
    height: 250px;
  width: auto;
  }
}
@media screen and (max-width:600px) {
  .home__profile {
    height: 200px;
    width: auto;
    margin-right: 60px;
  }
}
