@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.navbar {
    height: 100px;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   display: flex;
   z-index: 2;   
}
.navbar  > .navbar__content {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__content > img {
  height: 60px;
  cursor: pointer;
  margin-top: 15px;
}

.navbar__social {
    display: flex;
    gap: 20px;
    z-index: 2;

}
.navbar__social > .MuiSvgIcon-root {
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 600px) 
{
        
        .navbar__content > img {
         padding-left: 40px;
         height: 40px;
        }
        .navbar__social > .MuiSvgIcon-root {
            font-size: 16px;
        }

        .navbar__social{
         

        }
       
        
    }
@media screen and (min-width: 600px)  {
        .navbar {
          
           
        }
        .navbar__content {
          
        }
        .navbar__social {
            display: flex;
        }
        
        
}
@media screen and (min-width: 768px) 
{
        .navbar {
  
            
        }
        .navbar__content {
          
        }
        .navbar__social {
            display: flex;
            
        }
    
    }