@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
* {
    top: 0;
    padding: 0;
}
.navbar {
    position: sticky;
    width: 90%;
    height: 70px;
    top: 0;
    padding-top: 10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    
}
.navbar__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar__left > img {
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 80px;
}
.navbar__right > .MuiSvgIcon-root {
    font-size: 30px;
}
@media screen and (max-width: 600px) 
 {
        .navbar {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        
        .navbar__left > img {
            height: 40px;
            margin-top: 10px;
            margin-left: 90px;
        }
        .navbar__right > .MuiSvgIcon-root {
            font-size: 16px;
        }

        .navbar__right{
            display: flex;
            gap: 10px;
            padding-right: 30px;

        }
       
        
    }
@media screen and (min-width: 600px)  {
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
        }
        .navbar__left {
            display: flex;
            flex-direction: row;
            width: auto;
            align-items: center;
            justify-content: center;
            margin-left: 5%;  
        }
        .navbar__right {
            display: flex;
        }
        
        
}
@media screen and (min-width: 768px) 
{
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }
        .navbar__left {
            display: flex;
            flex-direction: row;
            width: auto;
            align-items: center;
            justify-content: center;
        }
        .navbar__right {
            display: flex;
            
        }
    
    }